.jumbotron {
	background-color: white;
	margin-top: -15px;
}
.navbar-brand img {
	height: 60px;
}
footer {
	font-weight: 200;
	min-height: 45px;
}
.awal {
	color: white !important;
	text-transform: capitalize;
	text-align: center;
}
.awal:hover {
	color: #f0f2f5 !important;
}
.jumbotron label {
	font-weight: 200;
}
.jumbotron h1 {
	font-weight: 200;
}
.card {
	padding: 5px;
}
.card img {
	width: 100%;
}
.card h5 {
	margin-top: 10px;
	font-size: 23px;
	font-weight: bold;
	text-align: center;
}
.card td {
	font-size: 100%;
	font-weight: 200;
}
.card button {
	width: 100%;
	margin-top: -1px;
	border-radius: 0px;
}
.sidebar-brand-icon img {
	height: 40px !important;
	margin-right: 10px;
}
.custom-file-label {
	margin-top: 32px;
	margin-left: 10px;
	margin-right: 10px;
}
.gambar-modal {
	width: 100%;
	border-radius: 10px;
}
.table .btn {
	margin-bottom: 3px;
}
form.col-md {
	margin-top: 10px;
}
.form-check {
	padding-top: 10px;
	padding-left: 33px;
	margin-left: 0;
	margin-right: 0;
}
@media (min-width: 992px) {
	.jumbotron h1 {
		margin-top: -20px;
	}
	.awal {
		font-size: 20px;
		color: white !important;
		text-transform: uppercase;
	}
	.awal:hover {
		color: #f0f2f5 !important;
	}
	.awal:hover:after {
        content: '';
        display: block;
        border-bottom: 3px solid white;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    .jumbotron label {
    	font-weight: normal;
    }
    .jumbotron h1 {
    	font-weight: normal;
    }
    .card {
    	width: 100%;
	}
	.card img {
		width: 300px;
	}
	.card h5 {
		font-size: 50px;
		font-weight: bold;
		text-align: left;
	}
	.card td {
		font-size: 30px;
		font-weight: 200;
	}
	.card button {
		width: 300px;
		margin-top: -1px;
		border-radius: 0px;
	}
	.table .btn {
		margin-bottom: 0;
	}
	form.col-md {
		margin-top: 0;
	}
	.form-check {
		padding-top: 40px;
		padding-left: 20px;
		margin-left: auto;
		margin-right: 10px;
	}
}